@import "../../style/sass/variables/variables.module";
.photos {
  position: relative;
  display: grid;
  img {
    width: 100% !important;
  }
  @media #{$MAX_SM} {
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$MIN_SM_MAX_MD} {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{$MIN_MD_MAX_LG} {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{$MIN_XL} {
    grid-template-columns: repeat(5, 1fr);
  }
  .bgIconInstagram {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #96009691;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
}
